<div data-role="view" data-title="Home View" data-layout="main" data-model="app.homeView" data-show="app.homeView.onShow" data-after-show="app.homeView.afterShow">
    <!-- START_CUSTOM_CODE_homeView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
        <h1 class="center home" data-bind="html: title"></h1>
         <div class="center"  id="homeViewModel" data-role="validator" novalidate="novalidate" >
            <form>
             <table class="tdwidth"  >
                 <tr>
                     <td class="tdwidth" > 
                         <input id="signinemail" name="signinemail" data-bind="value: homeViewModel.fields.email"  required validationMessage="***" placeholder="E-mail" type="email">
                         <span class="k-invalid-msg" data-for="signinemail"></span>
                     </td>
                 </tr>
                 <tr>
                     <td class="tdwidth">
                         <input  id="signinpassword" name="signinpassword"  data-bind="value: homeViewModel.fields.password" required validationMessage="***" placeholder="Password" type="password">
                          <span class="k-invalid-msg" data-for="signinpassword"></span>
                     </td>
                 </tr>
             </table>
             </form>
             <div class="button-group center" style="width: 60%;" >
                <a  class="primary" data-role="button" data-transition="slide" data-bind="events: { click: homeViewModel.submit }">เข้าสู่ระบบ</a>
             </div>
              <table class=" from_center " >
                 <tr>
                     <td>
                         <span  data-bind="events: { click: homeViewModel.gotermofuse }" >
                             ลงทะเบียนใช้งานที่นี่
                         </span>
                     </td>
                     <td class="right" >
                         <a  onclick="window.open('https://greencard.deqp.go.th/web/reset_password', 'newwindow'); return false; ">
                             <span>
                                 ลืมรหัสผ่าน
                             </span>
                         </a>
                     </td>
                 </tr>
             </table>
        </div>
    
    <!-- END_CUSTOM_CODE_homeView -->
</div>