<div data-role="view" data-title="Menu" data-layout="main" data-model="app.MenuView" data-show="app.MenuView.onShow" data-after-show="app.MenuView.afterShow">
     
    <div><h1 class="center">Menu</h1></div>
    <div>
         <div class="button-group" >
                <a  class="primary2"data-role="button" data-bind="events: { click: MenuViewModel.logout }"  >Logout</a> 
         </div>
         <div class="button-group" >
                <a  class="primary2" data-role="backbutton" data-align="center" data-icon="add" >Close</a>
         </div>
    </div>
    
</div>