<div data-role="view" data-title="checkinView" data-layout="main" data-model="app.checkinView" data-show="app.checkinView.onShow" data-after-show="app.checkinView.afterShow">
    <div id="scanview" class="button-group"> 
		<a class="primary"   data-role="button" data-bind="events: { click: scan }">Click scan QR for check in </a>
    </div>
    <!--
    <div id="scanview" class="button-group"> 
		<a class="primary"   data-role="button" data-bind="events: { click: session }">Click session </a>
    </div>
    <div id="scanview" class="button-group"> 
		<a class="primary"   data-role="button" data-bind="events: { click: clear }">Clear session </a>
    </div>
    -->
</div>