<div data-role="view" data-title="cartView" data-layout="main" data-model="app.cartView" data-show="app.cartView.onShow" data-after-show="app.cartView.afterShow">
        <header data-role="header" >
            <div data-role="navbar" class="reddra" >
                <span data-role="view-title"></span>  
                <a data-role="backbutton"data-align="left"></a>
            </div>
        </header>
         <h1>
             Delete completely
         </h1>
        
         <div class="button-group" >
                    <a class="primary" data-role="backbutton"  >OK</a>
         </div>

</div>