<div data-role="view" data-title="Product" data-layout="main" data-model="app.listproductView" data-show="app.listproductView.onShow" data-after-show="app.listproductView.afterShow">
        <header data-role="header" >
            <div data-role="navbar" class="reddra" >
                <span data-role="view-title"></span>  
                <a data-role="button" href="components/menuView/view.html"  data-align="left" data-icon="drawer-button"></a>
                <a data-role="button"data-align="right" data-click="showSearch" data-click-on="down" data-icon="search" data-navigate-on-press="true"></a>
                <img data-align="right" src= "images/shopping-cart.png" class="iconcart"/>
            </div>
        </header>
   
    <div id = "Test">
        <ul id="productlist" class="grid bgcolor"></ul>
               
            <script id="productlisttmp" type="text/x-kendo-template">
                
                   <img class="grid_img" src="#: image_url #"/>
                <p class="center"><h1> #:name#  </h1><br> 
                 Merchant : #:merchant_client_name#</p>
                <p> price : #:list_price# ฿</p>
            </script>
    </div>

    
</div>