<div data-role="view" data-title="" data-layout="main" data-model="app.listproductView" data-show="app.listproductView.onShow" data-after-show="app.listproductView.afterShow">
        <header data-role="header" >
            <div data-role="navbar" class="reddra" >
                <span data-role="view-title"></span>  
                <a data-role="backbutton"data-align="left"></a>
                <a data-role="button" href="components/menuView/view.html"  data-align="left" data-icon="drawer-button"></a>
                <span data-bind="html: title"></span>
                <!-- <img data-align="right" src= "images/shopping-cart.png" class="iconcart"/>  -->
                <a data-role="button" href="components/cartView/view.html" data-align="right"  data-icon="cart" ></a>
            </div>
             <div data-role="navbar" class="reddra">
                <input id="txtSearch" name="txtSearch">
                <a data-role="button"data-align="right" data-click="showSearch" data-click-on="down" data-icon="search" data-navigate-on-press="true"></a>
            </div>
        </header>

    <ul id = "productlist" data-role="listview" data-template="productlisttmp" data-bind="source: productsdata"></ul>


</div>
<script id="productlisttmp" type="text/x-kendo-template">
    <a href="\\#components/detailsproductView/view.html?image=#: image#&id=#: id #&name=#:name#&price=#:price#">
                <img class="grid_img" src="#: image #"/>
                    <h1> #:name#  </h1><br> 
               
        <a  data-role="button" data-bind="events: { click: listproductViewModel.addToCart }"data-align="right"  data-icon="cart" > price : #:price# ฿ </a>
    </a>
</script>