<div data-role="view" data-title="Terms Of Use" data-layout="main" data-model="app.termsofuseView" data-show="app.termsofuseView.onShow" data-after-show="app.termsofuseView.afterShow">
      <div id="termsofuseModel" class="divmain">
        <table></table>
        <br>
        <span class="h2 center" >
            ข้อตกลงการใช้งาน
        </span>
        <br>
        <div data-role="scroller" class="bgcolor scrollertermsofuse" >
            <table class="bgcolor" >
               <tr>
                 <td>
                     <p>กรมส่งเสริมคุณภาพสิ่งแวดล้อม (สส.) จัดทำ Green Card Application นี้ขึ้น สำหรับเป็นช่องทาง
ในการประชาสัมพันธ์สินค้าและบริการที่เป็นมิตรกับสิ่งแวดล้อมไปยังผู้บริโภค เพื่อเป็นทางเลือกสำหรับผู้บริโภคในการเลือกซื้อสินค้าและบริการฯ อีกทั้งยังส่งเสริมและสนับสนุกการขยายตลาดสินค้าสีเขียว
ในประเทศให้เพิ่มมากขึ้น
                     </p>
                     <p>
                         <b>
                             เงื่อนไขการใช้บริการ
                         </b>
                         <br>
                         Green Card Application เป็นลิขสิทธิ์ของกรมส่งเสริมคุณภาพสิ่งแวดล้อม (สส.) ดังนั้น การใช้บริการแอปพลิเคชันจะอยู่ภายใต้ข้อกำหนดและเงื่อนไขการใช้บริการที่กำหนดไว้ จึงขอความกรุณาผู้ใช้บริการศึกษาข้อกำหนดและเงื่อนไขการใช้บริการโดยละเอียดก่อนการเข้าใช้ เพื่อสิทธิประโยชน์และการใช้บริการให้เกิดประโยชน์สูงสุดแก่ผู้ใช้บริการ ทั้งนี้ ในการใช้บริการให้ถือว่าผู้ใช้บริการได้ตกลง
ที่จะปฏิบัติตามข้อกำหนดและเงื่อนไขการให้บริการที่กำหนดไว้ ดังนั้น หากท่านไม่ยินยอมที่จะผูกพันตามข้อตกลงดังกล่าว โปรดระงับการเข้าใช้แอปพลิเคชันนี้
                     </p>
                     <p>
                         <b>
                             การเปลี่ยนแปลงเงื่อนไขการใช้บริการ
                         </b><br>
                         กรมส่งเสริมคุณภาพสิ่งแวดล้อม (สส.) ขอสงวนสิทธิ์ในการเปลี่ยนแปลงแก้ไขเงื่อนไขการใช้บริการเหล่านี้ได้ตลอดเวลา การเปลี่ยนแปลงใดๆ อาจจะมีการแจ้ง หรือไม่มีการแจ้งก็ได้ ดังนั้น ผู้ใช้บริการจะต้องคอยติดตามตรวจสอบเงื่อนไขการใช้บริการอยู่เสมอ 
                     </p>
                     <p>
                         <b>
                             ข้อจำกัดความรับผิด
                         </b><br>
                         กรมส่งเสริมคุณภาพสิ่งแวดล้อม (สส.) จะไม่รับผิดต่อความเสียหายใดๆ ต่อผู้ใช้บริการที่เป็นผลหรือสืบเนื่องจากการเข้าใช้บริการแอปพลิเคชัน ทั้งจากเหตุที่อยู่นอกเหนือการควบคุมหรือจากเหตุประมาทเลินเล่อในการรวบรวมข้อมูล เก็บรักษาข้อมูล การแปล การแก้ไข การเขียน การรายงาน หรือการนำส่งข้อมูลใดๆ ดังนั้น ผู้ใช้บริการจะต้องยอมรับและตระหนักว่า สส. จะไม่ต้องรับผิดชอบต่อการกระทำใดๆ
ทั้งสิ้น
                     </p>
                     <p>
                         <b>
                             สิทธิในทรัพย์สินทางปัญญา
                         </b><br>
                         กรมส่งเสริมคุณภาพสิ่งแวดล้อม (สส.) เป็นเจ้าของลิขสิทธิ์หรือสิทธิในทรัพย์สินทางปัญญา
ในเนื้อหาต่าง ๆ ที่แสดงบนแอพพลิเคชันนี้ ซึ่งครอบคลุมถึงข้อความ บทความ รูปภาพ วิดีทัศน์ เสียง กราฟฟิค หรือโปรแกรมคอมพิวเตอร์ (รวมเรียกว่า “เนื้อหา”) โดย สส.  มีสิทธิหรือมีอำนาจควบคุมการใช้เนื้อหานั้น ห้ามมิให้ทำซ้ำ ดัดแปลง จัดเก็บ ถ่ายโอน ลอกเลียนแบบ หรือกระทำการใดๆ อันเป็นการละเมิดลิขสิทธิ์หรือสิทธิในทรัพย์สินทางปัญญาโดยไม่ได้รับความยินยอมล่วงหน้าเป็นลายลักษณ์อักษรจาก สส. เว้นแต่การใช้ จัดพิมพ์ หรือดาวน์โหลดเนื้อหาที่แสดงบนเว็บไซต์เพื่อใช้เป็นการส่วนบุคคล โดยผู้ใช้ต้องไม่ลบข้อความเกี่ยวกับลิขสิทธิ์หรือสิทธิในทรัพย์สินทางปัญญาออกจากเนื้อหานั้น
                     </p>
                     <p>
                         <b>
                             บัญชีและความปลอดภัย
                         </b><br>
                         ก)	หน้าที่การทำงานบางอย่างของการบริการ ต้องการการลงทะเบียนสำหรับบัญชีโดยการระบุตัวตนผู้ใช้ที่เป็นเอกลักษณ์ (ซึ่งเรียกว่า “ไอดีผู้ใช้”) และรหัสผ่าน โดยการให้ข้อมูลส่วนตัวบางอย่าง หากท่านเลือกใช้ “ไอดีผู้ใช้” ที่ สส. เห็นว่าเข้าข่ายไม่เหมาะสม สส. มีสิทธิที่จะระงับหรือยุติบัญชีของท่าน โดยเป็นดุลยพินิจแต่เพียงผู้เดียว 
                         <br>
                         ข)	ผู้ใช้บริการยอมรับว่า สส. อาจจะยุติไอดีผู้ใช้ของท่าน และลบหรือทิ้งเนื้อหาที่เชื่อมโยงกับไอดีผู้ใช้ของท่านออกจากระบบ ไม่ว่าจะด้วยเหตุผลใดๆ อันเป็นดุลยพินิจแต่เพียงผู้เดียวและไม่ต้องแจ้งเตือนหรือรับผิดชอบต่อผู้ใช้บริการ
                         <br>
                         ค)	การละเมิดโดยไม่เจตนาหรือเจตนาของข้อกำหนดการให้บริการนี้ (ค1) พฤติกรรมที่เป็นอันตรายต่อผู้ใช้คนอื่น บุคคลที่สาม (ค2) การใช้บัญชีเพื่อจุดประสงค์ที่ผิดกฎหมาย ฉ้อโกง ก่อกวน หมิ่นประมาท ข่มขู่ หรือไม่ถูกต้อง อาจถูกส่งต่อให้กับผู้มีอำนาจในการบังคับใช้กฎหมาย โดยไม่ต้องแจ้งให้ทราบ 
                         <br>
                         ง)	หากบัญชีของท่านไม่มีการเคลื่อนไหวหรือยังคงไม่เคลื่อนไหว (ซึ่งหมายถึงการไม่ได้ Log Inเข้าสู่บัญชี) เป็นเวลามากกว่า 1ปี สส. มีสิทธิที่จะลบหรือปิดการทำงานบัญชี โดยไม่ต้องแจ้งให้ทราบ
                         <br>
                         จ)	ท่านสามารถใช้บริการและ/หรือเปิดบัญชีได้ถ้าเขตอำนาจทางกฎหมายที่เกี่ยวข้องของคุณอนุญาตให้คุณยอมรับข้อกำหนดการให้บริการนี้เท่านั้น
                         <br>
                     </p>
                      <p>
                         <b>
                             นโยบายการความเป็นส่วนตัว
                         </b><br>
                         กรมส่งเสริมคุณภาพสิ่งแวดล้อม (สส.)  ตระหนักถึงความสำคัญของการคุ้มครองข้อมูลส่วนบุคคลบนระบบแอปพลิเคชัน จึงมีโนบายในการคุ้มครองข้อมูลส่วนบุคคลของผู้ใช้บริการ โดยผู้ใช้บริการของแอปพลิเคชันจะต้องเก็บข้อมูลในส่วนของ ชื่อผู้ใช้งาน และ รหัสผ่านเข้าสู่ระบบไว้เป็นความลับ ทั้งนี้ ผู้ใช้บริการจะต้องยอมรับผิดชอบกับการกระทำต่างๆ ภายใต้บัญชีของผู้ใช้บริการผู้นั้นในกรณีที่ข้อมูลส่วนบุคคลดังกล่าวถูกจารกรรม สูญหาย หรือเสียหาย อันเนื่องจากเหตุสุดวิสัย หรือไม่ว่ากรณีใดๆ ทั้งสิ้น 
สส. ขอสงวนสิทธิ์ในการปฏิเสธความรับผิดใดๆ อันเกี่ยวข้องหรือเป็นผลมาจากสาเหตุดังกล่าว และจะไม่เปิดเผยข้อมูลเกี่ยวกับผู้ใช้บริการ หรือ ข้อมูลอื่นๆ ที่สามารถบ่งชี้ได้ว่าเป็นของผู้ใช้บริการผู้นั้น แก่บุคคล
ที่สาม เว้นแต่จะได้รับความยินยอมจากผู้ใช้บริการผู้นั้น หรือการให้ข้อมูลดังกล่าวเป็นไปเพื่อช่วยให้ผู้ใช้บริการผู้นั้นสามารถทำธุรกรรมที่ท่านประสงค์ หรือ การเปิดเผยข้อมูลนั้นๆ เป็นไปโดยถูกต้องตามกฎหมาย 
                     </p>
                      <p>
                         <b>
                             กฎหมายที่ใช้บังคับ
                         </b><br>
                         การตีความ และการบังคับตามเงื่อนไขการให้บริการฉบับนี้ ให้เป็นไปตามกฎหมายไทย
                          <br>
                          ข้าพเจ้าได้อ่านข้อตกลงนี้และยอมรับข้อกำหนดทั้งหมดที่เขียนไว้ด้านบนและการแก้ไข
ของข้อกำหนดเดียวกันหลังจากนี้ โดยการคลิกที่ปุ่ม “ลงทะเบียนเดี๋ยวนี้” หรือการกระทำที่คล้ายคลึงกันใดๆ ด้านล่าง ให้มีผลและการบังคับใช้เช่นเดียวกับเมื่อข้าพเจ้าทำการลงชื่อของข้าพเจ้าด้วยลายมือ
                          <br>
                          ปรับปรุงครั้งล่าสุดเมื่อวันที่ 1 เมษายน 2559
                     </p>
                      
                 </td>
               </tr>
            </table>
        </div>
           <div class="button-group" >
                <a class="primary" data-role="button"   data-bind="events: { click: termsofuseViewModel.submit }">ยืนยัน</a>
                <a  class="primary2"data-role="button" data-bind="events: { click: termsofuseViewModel.gohome }"  >ยกเลิก</a>
                
            </div>
        
    </div>
</div>